.top {
  height: 80vh;
  min-height: 500px;
  max-height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/src/assets/img/graph-wash.png) repeat 50%;
}

.top__logo {
  width: 100%;
}

.team {
  height: 80vh;
}
