#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(116, 116, 116);
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  margin: 2px;
  border: 2px solid rgb(116, 116, 116);
  background-color: #5db1f7;
  border-radius: 4px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #90caf9;
}
